<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<title>AppDL</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="apps.js"></script>
</head>
<body ng-controller="AppListController">
<a href="https://github.com/jakeasmith/appdl"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

	<h1>App Downloader</h1>
	<p>There are {{apps.length}} apps listed. </p>
	<p>Search: <input ng-model="query"></p>
	<ul>
		<li ng-repeat="app in apps | filter:query">
			<input type="checkbox" id="app{{$index}}" ng-model="app.selected" />
			<label for="app{{$index}}">{{app.name}}</label> <small><a href="{{app.site}}"><img src="img/offsite.jpg"></a></small>
		</li>
	</ul>

	<h2>Bash script</h2>
	<div style="font-family: 'Courier New'; font-size: .8em;">
		#!/bin/sh<br />
		mkdir -p ~/Downloads/apps<br />
		cd ~/Downloads/apps<br />

		<span ng-repeat="app in apps | filter:{selected: true}">
			printf "\n\nDownloading {{app.name}}\n"<br />
			curl -O {{app.file}}<br />
		</span>
	</div>

</body>
</html>
